body {
 background-image: url('img/background-image.jpg');
 background-repeat: no-repeat;
 background-size: cover;
}
.container {
  height: 6vh;
  padding: 1px;
  text-align: center;
}
.horizontal-list {
  list-style: none;
}
.horizontal-list li>a:hover{
    color: rgb(0, 214, 252);
    transform: scale(1.2);  
}
.horizontal-list li,
a {
  display: inline-block;
  font-size: 1.5rem;
  margin-left: 15px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  
}
.home {
  border: 1px solid black;
  height: 90.5vh;
}
.home h1{
    font-size: 2rem;
    height: auto;
    color:white;
    text-align: center;
    align-items: center;
}
.image{
    text-align: right;
    height: auto;
    margin-right: 250px;
    margin-top: 150px;
}
     
