html{
  scroll-behavior: smooth;
}
body {
  background-image: url("img/cool.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}
.container{
  width: auto;
  height: 6vh; 
  position: flex;
  width: auto;
  
}
.horizontal-list {
  padding: 1rem;
  position: fixed;
  border: 1px solid black;
  overflow: hidden;
  width: 100%; 
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.horizontal-list a {
  display: block;
  float:left;
  font-size: 1.5rem;
  margin-left: 20px;
  text-decoration: none;
  text-align: center;
  color: rgba(255, 255, 255, 0.842);
  cursor: pointer;
  transition: color 0.5s ease;
}
.horizontal-list > a:hover {
  color: rgb(0, 0, 0);
  transform: scale(1.2);
}

#home-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 100px 20px;
}
.intro {
  flex-basis: 50%;
  max-width: 500px;
  margin-left: 250px;
}

.intro h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.842);
}

.intro p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 40px;
  color: rgba(255, 255, 255, 0.842);
}

.cta-button {
  display: inline-block;
  background-color: #fdfdfdc4;
  color: black;
  padding: 12px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 1s ease;
}
.cta-button:hover {
  background-color: rgb(39, 39, 39);
  color: rgba(255, 255, 255, 0.842);
}
.profile-picture {
  flex-basis: 40%;
  max-width: 600px;
  text-align: center;
  margin-right: 120px;
}
.profile-picture img {
  width: 65%;
  border-radius: 50%;
}
#about-section {
  width: 100%;
  height: 50vh;
}
#about-section h1 {
  margin-bottom: 40px;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.842);
}
#about-section p {
  width: 1500px;
  margin: auto;
  font-size: 22px;
  text-align: center;
  color: rgba(255, 255, 255, 0.842);
}
#skills-section {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#skills-section h1 {
  margin-bottom: 40px;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  color: rgb(255, 255, 255);
}
.skills {
  width: 100%;
  max-width: 1000px;
  padding: 0 40px;
}
.skill-name {
  font-size: 18px;
  font-weight: 700;
  color: rgb(205, 205, 205);
  text-transform: uppercase;
  margin: 15px 0;
}
.skill-bar {
  height: 16px;
  background: #504f4f;
  border-radius: 3px;
}
.skill-per {
  height: 14px;
  background: #d13639;
  border-radius: 3px;
  position: relative;
  animation: fillBars 2.5s 1;
}
.skill-per::before {
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  font-size: 12px;
  top: -40px;
  right: 0;
  transform: translateX(50%);
}
.skill-per::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgb(255, 255, 255);
  top: -20px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}
@keyframes fillBars {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
#contact-section {
  width: 100%;
  height: 20vh;
  text-align: center;
}
#contact-section a {
  display: inline-block;
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin: 100px 30px;
}
#contact-section a:hover {
  transform: scale(1.5);
  transition: 0.5s ease;
  color: rgb(29, 201, 239);
  cursor: pointer;
}
.footer {
  display: block;
  font-size: 1.5rem;
}